[submodule "ext/ANARCI"]
	path = ext/ANARCI
	url = git@github.com:oxpig/ANARCI.git
[submodule "ext/parapred-pytorch"]
	path = ext/parapred-pytorch
	url = git@github.com:Nargaruga/parapred-pytorch.git
